

@font-face {
  font-family: "Winkle";
  src: url(fonts/Winkle-Regular.ttf);
}



/* Nav bar Elements */
/* Add a black background color to the top navigation */
.topnav {
    display: block;
    margin: auto;
    background-color: #ffffff00;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    padding: 0px 0px;

  }
/* Nav bar Elements ENDS */

  /* Main content */
.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%; /* Add a top margin to avoid content overlay */
  padding-left: 5%;
  padding-right: 5%;
  max-width:1080px
  
}


.center-fit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  max-width:1080px;
}

/* Art Profile Elements */
/* Four columns side by side */
.column {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
  
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
  
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
/* Art Profile Elements ENDS */

a {
  font-family: "Winkle", sans-serif;
  font-size: 2vmin;
}

p {
  font-family: "Winkle", sans-serif;
  font-size: 3vmin;
}

h1 {
  font-family: "Winkle", sans-serif;
  font-size: 5.9vw;
}

h2 {
  font-family: "Winkle", sans-serif;
  font-size: 3.0vh;
}

h3{
  font-family: "Winkle", sans-serif;
  font-size: 2.0vh;
}

li {
  font-family: "Winkle", sans-serif;
  font-size: 3vmin;
}

h3 {
  font-family: "Winkle", sans-serif;
  font-size: 2.9vh;
  margin-right: 15%;
  margin-left: 15%;
  text-align: center;
}

/* FAQ Elements */
.accordion {
  
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  padding: 18px;

  width: 100%;
  max-width:1080px;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-family: "Winkle", sans-serif;
  font-size: 4vmin;
  text-transform: uppercase;
}

.active, .accordion:hover {
  background-color: #cccccc5c;
}

.panel {
  padding: 0 18px;
  text-align: left;
  width: 90%;
  max-width: 1080px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding-left: 1%;
}
/* FAQ Elements END */


/* Submit Elements */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: "Winkle", sans-serif;
  font-size: 3vmin;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #ffffff;
  background-image: url("SubmitButton.svg");
  color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: auto;
  width: 185px;
  height: 30px;
  border: none;
  cursor: pointer;
}


.container2{
  font-family: "Winkle", sans-serif;
  font-size: 4vmin;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  max-width:1080px;
}