

@font-face {
  font-family: "Winkle";
  src: url(fonts/Winkle-Regular.ttf);
}



/* Nav bar Elements */
/* Add a black background color to the top navigation */
.topnav {
    display: block;
    margin: auto;
    background-color: #ffffff00;
    top: 0; left: 0; right: 0;
    position: fixed;
    width: 100%;
    max-width:1080px;
    z-index: 8;
    
  }

  @media screen and (max-width: 650px) {
    .topnav {
      display: block;
      margin: auto;
      background-color: #ffffff00;
      top: 0; left: 0; right: 0;
      position: fixed;
      width: 85%;
      z-index: 8;
      
    }
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    padding: 0px 0px;

  }
/* Nav bar Elements ENDS */

  /* Main content */
.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%; /* Add a top margin to avoid content overlay */
  padding-left: 5%;
  padding-right: 5%;
  max-width:1080px;
  
}

@media screen and (max-width: 650px) {
  .main {
  display: block;
  margin-top: 10%; /* Add a top margin to avoid content overlay */
  padding-left: 10%;
  padding-right: 10%;
  }
}



.center-fit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0; right: 0;
  width:100%;
  max-width:1080px;
}

/* Art Profile Elements */
/* Four columns side by side */
.column {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
  left: 0; right: 0;
  
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
  
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
/* Art Profile Elements ENDS */

a {
  font-family: "Winkle", sans-serif;
  font-size: 3vmin;
}

p {
  font-family: "Winkle", sans-serif;
  font-size: 3.5vmin;
}

h1 {
  font-family: "Winkle", sans-serif;
  font-size: 5.9vw;
}

h2 {
  font-family: "Winkle", sans-serif;
  font-size: 3.0vh;
}

h3{
  font-family: "Winkle", sans-serif;
  font-size: 2.0vh;
}

li {
  font-family: "Winkle", sans-serif;
  font-size: 3.5vmin;
}

h3 {
  font-family: "Winkle", sans-serif;
  font-size: 2.9vh;
  margin-right: 15%;
  margin-left: 15%;
  text-align: center;
}

/* FAQ Elements */
.accordion {
  
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  padding: 18px;

  width: 100%;
  max-width:1080px;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-family: "Winkle", sans-serif;
  font-size: 4vmin;
  text-transform: uppercase;
}

.active, .accordion:hover {
  background-color: #cccccc5c;
}

.panel {
  padding: 0 18px;
  text-align: left;
  width: 90%;
  max-width: 1080px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding-left: 1%;
}
/* FAQ Elements END */


/* Submit Elements */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: "Winkle", sans-serif;
  font-size: 3vmin;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #ffffff;
  background-image: url("SubmitButton.svg");
  color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: auto;
  width: 185px;
  height: 30px;
  border: none;
  cursor: pointer;
}


.container2{
  font-family: "Winkle", sans-serif;
  font-size: 4vmin;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  max-width:1080px;
}
/* Submit Elements ENDS */


/* Footer Elements */
.site-footer
{
  background-color:#ffffff;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#000000;
}
.site-footer hr
{
  border-top-color:#000000;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#c4c4c4
}
.copyright-text
{
  margin:0
}


  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }



  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-size:13px;
  display:block;
  margin-right:0;
  font-weight:600
}
.social-icons a{
  background-color:#eceeef;
  color:#ffffff;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
